@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');    /*font-family: 'Rubik', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');    /*font-family: 'Kanit', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');         /*font-family: 'Comfortaa', cursive;*/


/**/
* {
    box-sizing: border-box;
    font-family: 'Raleway' sans-serif;
}

html, body {
    background-color:rgba(255, 255, 255, .9);
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: rgb(36, 36, 36);
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.nav {
    min-width: 325px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.nav li {
    display: inline;
    border-right: 1px solid rgba(255, 255, 255, .9)
}

.nav li:last-child {
    border-right: none;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
}

.nav a:hover {
    color:  rgba(255, 255, 255, .6);
}

.main-nav {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.45em;
    font-weight: lighter;
}

#active {

}

.logo-header {
    width: 300px;
    padding-top: 10px;
}

.main-logo {
    width: 300px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-container {
    max-width: 900px;
    margin: 20px auto;
}

.main-heading {
    max-width: 900px;
    margin: auto;
}

.heading {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
    text-decoration: underline;
}

/**************************SHOPPE ITEMS**************************/

.shoppe-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    justify-items: center;
}

.heading:first-child {
    padding-top: 10px;
}

.shoppe-item-title {
    font-size: 1.3em;
    text-align: center;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shoppe-item-img {
    width: 250px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 0;
}

.shoppe-item-details {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5px;
}

.shoppe-item-price {
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}

.shoppe-item-btn {
    border: 2px solid rgb(163, 163, 163);
    color: white;
    background:rgb(36, 36, 36);
    font-family: 'Kanit', sans-serif;
    border-radius: 0;
    text-align: center;
    vertical-align: center;
    padding: .40em .40em;
    cursor: pointer;
}

.shoppe-item-btn:hover {
    background-color:rgb(66, 66, 66);
}

/**************************CART**************************/

.cart-items {
    max-width: 500px;
    margin: 20px auto;
}

.cart-item {
    margin: auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 100px 1fr 30px 45px 100px;
    grid-gap: 20px;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-img-container {
}

.cart-item-img {
    width: 100px;
}

.cart-item-name {
    font-family: 'Kanit', sans-serif;
    font-size: .9em;
    border-right: 1px solid black;
}

.cart-item-price {
    max-width: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
}

.item-remove-btn {
}

.total-container {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    margin: auto;
    padding-bottom: 25px;
}

.calculations-container {
    display: grid;
    grid-template-columns: 150px 100px;
    padding-left: 115px;
}

.calculated-heading {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    text-align: right;
    padding-right: 15px;
}

.sub-tax-amount {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border-bottom: 1px solid black;
    text-align: right;
    align-self: baseline;
}

.total-amount {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    text-align: right;
}

.total-amount:last-child {
    border-bottom: none;
}

.purchase-btn {
font-weight: bolder;
}



/**************************FOOTER**************************/

.main-footer-container {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

.main-footer {
    background-color: rgb(36, 36, 36);
    max-width: 900px;
    height: 100px;
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;;
}

.logo-footer {
    max-width: 450px;
}

.logo-footer-img {
    width: 150px;
    padding-left: 15px;
}

.social-media-footer {
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    justify-content: end;
}

.social-media-footer ul {
    margin: 0;
    padding: 0;
}

.social-media-footer a {
    text-decoration: none;
    padding-right: 15px;
}

.social-logo-img {
    width: 25px;
}

.copyright-footer {
    color: rgba(255, 255, 255, .9);
    text-align: center;
}